<head>
	<title><%= settings.username%>'s Profile</title>
</head>
<body>
  <h1>Project Liger</h1>
  <p>Hello, <%= settings.firstName%>!</p>

  <p>Meeting Scheduled!</p>
  <p>Meeting ID: <%= meeting.meetingId%></p>
  <p>Date: <%= meeting.date%></p>
  <p>Time: <%= meeting.time%></p>
  <p>Client Name: <%= meeting.clientName%></p>
  <p>Client Email: <%= meeting.clientEmail%></p>

  <h3><a href="http://localhost:<%= port%>/users/<%= settings.username%>/meeting/new">Create Meeting</a></h3>
  <h3><a href="http://localhost:<%= port%>/users/<%= settings.username%>/meeting">View Meetings</a></h3>
  <a href="http://localhost:<%= port%>">Home</a>
</body>